* {
	border-width:0;
	margin:0;
	padding:0;
	background: inherit;
  font:inherit;
	color: #8F938F;
}
.main-toolbar{
	margin:0;
	padding:0;
	height:48px;
	width:100%;
	background: #34302f;
}
body {
	background: #2c2827;
}
.top-space{
	height:2px;
	background:#403b3a;
}
.noselect {
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.noselect:focus {
   outline: none;
}
.toolbar-button{
	display:inline-block;
	text-align:center;
  padding: 13px 15px;
}
.toolbar-button:hover:not(.active){
	background-color:#403B3A;
	border-bottom: 2px solid #3f5;
	cursor:pointer;
}
.toolbar-info{
  color: #767676;
	display:inline-block;
	text-align:center;
  padding: 13px 15px;
}

.dropdown{
    display: none;
    position: absolute;
    margin-top:16px;
    margin-left:-15px;
    background:#403b3a;
    height:auto;
    width:auto;
}
.dropdown-button{
  text-align:left;
  float: left;
  clear: left;
  width: 100%;
}

.toolbar-button:hover .dropdown{
    display: block;
}

.center {
	background:#403b3a;
	position:absolute;
	top:50px;
	left:0px;
	bottom:0px;
	width:100%;
}
.right-toolbar{
	background:inherit;
	float:right;
}

.file-tree{
  overflow-x: hidden;
	float:left;
	height:100%;
	background: #232020;
}
.file-button{
  font-family:monospace;
  font-size:16px;
  word-wrap:normal;
  overflow-wrap:normal;
  cursor: pointer;
  white-space: nowrap;
	background-color:#2C2827;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  /* padding-right:2px; */
}
/* .file-button:hover:not(.active){
  word-wrap:break-word;
  overflow-wrap:break-word;
	background-color:#403B3A;
  white-space: normal;
} */
.file-active{
  	background-color:#403B3A;
}
.file-hover{
    word-wrap:break-word;
    overflow-wrap:break-word;
    white-space: normal;
  	background-color:#403B3A;
}
.file-parent-active{
  	background-color:#403B3A;
}
.file-selected{
  	background-color:#605e5e;
}
.file-dropdown{
  position:relative;
  float:right;
  right:5px;
  left:0px;
  bottom:19px;
  background-color:rgba(0,0,0,0);
}

.main-code {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0;
	right:0;
	float:left;
	display: -webkit-flex;
	display: flex;
	flex-direction:row;
	overflow:inherit;
	background: #2c2827;
}
.project-render{
	float:left;
	display:inherit;
	position:relative;
  overflow:hidden;
	overflow-y:auto;
	width:50%;
	max-width:100%;
	background: #2c2827;
	flex: 0 0 auto;
}
.project-file-replace{
	position:relative;
  float:left;
	padding:0px;
	height:100%;
	width:250px;
  min-width:250px;
}
.project-code-replace{
	position:relative;
  float:right;
	padding:0px;
	height:100%;
	width:100%;
}
.splitter {
	flex: 0 0 auto;
	width: 18px;
	background: url(../resources/images/splitter.png) center center no-repeat #403b3a;
	min-height: 200px;
	cursor: col-resize;
}
.output-render{
  float:right;
	display:inherit;
	position:relative;
  overflow:hidden;
	overflow-y:auto;
	width:40%;
	max-width:100%;
	background: #2c2827;
	flex: 1 1 auto;
}
.output-file-replace{
	position:relative;
  float:left;
	padding:0px;
	height:100%;
	width:250px;
  min-width:250px;
}
.output-code-replace{
	position:relative;
  float:right;
	padding:0px;
	height:100%;
	width:200px;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #8F938F;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
}
.CodeMirror-scrollbar-filler, .CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: #34302F;
}
